<!DOCTYPE html>
<html lang='es'>
<title>Kirby Pregunta</title>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
<script src="https://cdn.tailwindcss.com"></script>

<body class="bg-[url('/public/img/mario.png')] bg-cover bg-no-repeat ">
<header class="bg-[#1C1919CC] bg-opacity-80 h-[122px] lg:h-[92px] mb-4 xl:mb-[30px] w-[100%]">
    <div class='flex items-center h-full'>
        <h1 class="font-[primary] text-center w-full not-italic text-[20px] lg:text-[35px] font-extrabold"><span class="text-[#E169E3]">KIRBY </span><span class="text-[#5990D2]">PREGUNTA</span></h1>
    </div>
</header>

