{{>headerLogin}}

<main class="h-[100vh] flex items-center justify-center">
    <div class="flex flex-col items-center justify-center">

        {{#perfilMain}}
            <div class="flex flex-col md:flex-row justify-evenly gap-9 w-full  max-w-[1050px] my-4 text-[6px]">
                <div class="w-full px-5 h-[70px] lg:w-[310px] lg:h-[53px] bg-[#1C1919] bg-opacity-80 rounded-[15px] flex justify-center items-center">
                    <p class="text-center text-[12px] text-white font-bold">{{nombre}}</p>
                </div>
                <div class=" w-full px-5 h-[70px] lg:w-[310px] lg:h-[53px] bg-[#1C1919] bg-opacity-80 rounded-[15px] flex justify-center items-center">
                    <p class="text-center text-[12px] text-white font-bold">Puntaje final: {{puntaje_final}}</p>
                </div>
                <div class=" w-full px-5 h-[70px] lg:w-[310px] lg:h-[53px] bg-[#1C1919] bg-opacity-80 rounded-[15px] flex justify-center items-center">
                    <p class="text-center text-[12px] text-white font-bold">Partidas jugadas: {{contador}}</p>
                </div>
            </div>

        <div class="grid grid-cols-1 md:grid-cols-[200px,auto,auto] grid-rows-1 md:grid-rows-3 lg:p-4 w-[315px] h-[429px] md:w-full  md:h-[425px] lg:w-[1050px] lg:h-[425px] bg-[#1C1919] bg-opacity-80 rounded-[15px]">

            <div class="md:col-span-1 md:col-start-1  md:col-end-2  md:row-start-1  md:row-end-5 flex flex-row md:flex-col justify-around items-center w-full ">
                <img class="w-[100%] max-w-[85px] rounded-2xl  lg:max-w-[150px] h-[85px] lg:h-[150px]"
                     src="/public/fotosPerfil/{{img_profile}}" style="width: 400px"
                     alt="{{img_profile}}">


                <a href="#" class="ciudad-link lg:hidden block max-w-[85px]" data-ciudad="{{ciudad}}">
                    <img src="../public/img/map.png"></a>


                <img class="hidden md:block w-[100%] max-w-[85px] lg:max-w-[150px] h-[85px] lg:h-[150px]" src="../public/QR_CODE/{{QR_code}}" style="width: 400px"
                     alt="{{QR_code}}">
            </div>

            <div class=" md:col-start-2  md:col-end-3  md:row-start-1 md:row-end-4 flex flex-col md:my-16 lg:my-0 gap-4 items-center">
                <div class="bg-[#1C1919] flex justify-start items-center bg-opacity-80 rounded-[15px]  lg:w-[380px] lg:h-[53px] w-[280px] h-[30px]">
                    <p class="px-4 w-full text-[12px] tracking-[0.06em]  text-white">Usuario: {{username}}</p>
                </div>
                <div class="bg-[#1C1919] flex justify-start items-center bg-opacity-80 rounded-[15px]  lg:w-[380px] lg:h-[53px] w-[280px] h-[30px]">
                    <p class="px-4 w-full text-[12px] tracking-[0.06em]  text-white">Email: {{email}}</p>
                </div>
                <div class="bg-[#1C1919] flex justify-start items-center bg-opacity-80 rounded-[15px]  lg:w-[380px] lg:h-[53px] w-[280px] h-[30px]">
                    <p class="px-4 w-full text-[12px] tracking-[0.06em]  text-white">Pais: {{pais}}</p>
                </div>
            </div>

            <div class="md:col-start-3 md:col-end-4 md:row-start-1 md:row-end-4 flex flex-col gap-4 my-4 md:my-16 lg:my-0  items-center">
                <div class="bg-[#1C1919] flex justify-start items-center bg-opacity-80 rounded-[15px]  lg:w-[380px] lg:h-[53px] w-[280px] h-[30px]">
                    <p class="px-4 w-full text-[12px] tracking-[0.06em]  text-white">Ciudad: {{ciudad}}</p>
                </div>
                <div class="bg-[#1C1919] flex justify-start items-center bg-opacity-80 rounded-[15px]  lg:w-[380px] lg:h-[53px] w-[280px] h-[30px]">
                    <p class="px-4 w-full text-[12px] tracking-[0.06em]  text-white">Fecha de
                        nacimiento: {{fecha_nacimiento}}</p>
                </div>
                <div class="bg-[#1C1919] flex justify-start items-center bg-opacity-80 rounded-[15px]  lg:w-[380px] lg:h-[53px] w-[280px] h-[30px]">
                    <p class="px-4 w-full text-[12px] tracking-[0.06em]  text-white">Sexo: {{sexo}}</p>
                </div>
            </div>

            <div class="lg:flex justify-center items-center hidden col-start-3 col-end-4 row-start-4 ">
                <a href="#" class="ciudad-link" data-ciudad="{{ciudad}}">
                    <img class="max-w-[150px] " src="../public/img/map.png"></a>
            </div>


        {{/perfilMain}}

        </div>
        {{#filtrarDuelo}}
        <div class="cursor-pointer bg-[#1C1919]  bg-opacity-80 flex justify-start items-center hover:bg-gray-200 hover:text-black rounded-2xl p-2 text-white my-2">
           <a href="/duelo/comenzandoDuelo">Retar a Duelo</a>
        </div>
        {{/filtrarDuelo}}


    </div>
</main>
{{>footer}}
<script src="/public/js/maps.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



