{{>headerLogin}}

<main class="h-[100vh] flex items-center justify-center">

    <div class="relative bg-[#1C1919] bg-opacity-80 rounded-2xl md:w-[982px] w-[382px] flex justify-center items-center flex-col gap-y-14 m-4 py-12 px-4 ">
        <div class="bg-[#{{color}}] bg-opacity-80 rounded-2xl lg:w-[782px] p-4 w-auto flex justify-center items-center">
            <p class="text-white text-[15px] md:text-3xl text-center">{{pregunta}}</p>
        </div>

    <div class="bg-[#F43F3F] bg-opacity-80 p-4 rounded-2xl md:h-[150px] w-[250px] md:w-[350px] lg:w-[550px]  flex justify-center items-center">
            <p class=" text-white text-[15px] md:text-3xl text-center">¡Respuesta Incorrecta! <br> La opción
                correcta <br>
                es: {{opcionCorrecta}}</p>
    </div>

    <div class="flex justify-around w-full gap-x-3">
        <div class="bg-[#1C1919] bg-opacity-80 rounded-2xl flex justify-center items-center  py-2 md:py-4 px-4 ">
                <p class="text-white text-[15px] md:text-3xl font-normal text-center"> Puntaje obtenido: {{puntaje}} </p>
        </div>

        <div class="bg-[#1C1919] bg-opacity-80  py-2 md:py-4 px-4  rounded-2xl flex justify-center items-center">
            <a href="/user/lobby">
                <img class="max-w-[100%]" src="/public/img/home.png">
            </a>
        </div>
        <div class="bg-[#1C1919] bg-opacity-80 rounded-2xl  py-2 md:py-4 px-4  flex justify-center items-center">
            <a href="/partida/comenzandoPartida" class="text-white font-normal  text-[15px] md:text-3xl text-center">
                Jugar otra partida
            </a>
        </div>
    </div>

</div>
</main>


{{>footer}}